/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

html, body{
  height:100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.tfp-accordion-row {
    border: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid lightgray;
    padding: 0;
}

.tfp-accordion-row:first-child{
  border-top:1px solid lightgray;
}
.tfp-accordion-row > .accordion-head {
    display: block;
    margin: 0;
    padding: 10px;
    font-size: 2.0em;
    font-weight:bold;
    cursor:pointer;
    text-align:center;
}

.tfp-req-forms > .tfp-form-request{
  border-top:1px dotted lightgrey;
  padding:15px;
  font-size:1.5em;
  text-align:center;
}

.tfp_cls_srch_loading{
  background: url('../images/TFP_LOADING_2_IMG_1.gif') center center no-repeat;
  width: 354px;
  height: 90px;
  margin: 100px auto;
  position: absolute;
  left: 30%;
  right: 30%;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}